
-e git+ssh://git@github.com/pip-shenanigans/shng-classic-library-1@master#egg=shng-classic-library-1
-e git+ssh://git@github.com/pip-shenanigans/shng-classic-library-3@master#egg=shng-classic-library-3

# Tests
pytest
pytest-runner
pytest-cov
pytest-flakes
pytest-black
