
-e git+file://../shng-classic-library-1#egg=shng-classic-library-1
-e git+file://../shng-classic-library-2#egg=shng-classic-library-2
ipython
black

# Tests
pytest
pytest-runner
pytest-cov
pytest-flakes
pytest-black
